[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=org.ilyavysotsky.yasailmusic
Exec=/usr/bin/org.ilyavysotsky.yasailmusic
Name=Yandex Music
Name[ru]=Яндекс Музыка

[X-Application]
Permissions=Audio;Internet;Microphone;Pictures;UserDirs;MediaIndexing
OrganizationName=org.ilyavysotsky
ApplicationName=yasailmusic
