[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=YaSailMusic
Exec=YaSailMusic
Name=YaSailMusic
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=YaSailMusic

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=org.ilyavysotsky
# ApplicationName does not have to be identical to Name
ApplicationName=YaSailMusic
# Add the required permissions here
#Permissions=
Sandboxing=Disabled
